div{
    background-color: aqua;
    height: 100px;
    width: 100px;
    border: 1px solid saddlebrown;
    text-align: center;
    display: inline-block;
}
div:hover{
    background-color: blueviolet;
}
.d1 > p{
    display: none;
}
.d1:hover > p{
    display: block;
    background-color: blue;
    color: rgb(255, 255, 255);
}