@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@600&display=swap');
/*font-family: 'Josefin Slab', serif;*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*font-family: 'Work Sans', sans-serif;*/
@font-face {
    font-family: 'love';
    src: url('../fontes/Love_Larry_TTF.ttf');
}
@font-face {
    font-family: 'best';
    src: url('../fontes/Best_Valentina_TTF.ttf'), url('../fontes/Best_Valentina_OTF.otf'), url('../fontes/Love_Larry_TTF.ttf');
}
body{
    font-family: 'Work Sans', sans-serif; /*fonte principal*/
}
h1{
    font-size: 2em;/*igual a 32px*/
}
h2{
    font-size: 32px;/*igual a 2em*/
}
h3{
    font-family: 'love';
}
p{
    font-family: 'best', 'Josefin Slab', serif;
    text-align: justify;
    text-indent: 20px;
    /*font-style: italic;
    text-decoration: underline;
    font: italic 32px arial, sans-serif;*/
}
