body{
    margin: 0%;
}
header h1, h2{
    margin: 0px;
    background-color: black;
    margin: 0px;
    color: white;
    text-align: center;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
}

footer{
    background-color: black;
    padding: 10px 0px 10px 0px;
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
}
footer > p{
    margin: 0px;
}
